$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

#change-password {
  display: none;
}

#sign-out {
  display: none;
}

#get-cards {
  display: none;
}

#create-card {
  display: none;
  }

#update-card {
  display: none;
}

#delete-card {
  display: none;
}
